# Tüm STM32 kütüphanelerini ve otomatik oluşturulan dosyaları istatistikten çıkar
**/Drivers/** linguist-vendored
**/Middlewares/** linguist-vendored
**/Debug/** linguist-vendored
**/Release/** linguist-vendored

# Sadece senin yazdığın Core klasörünü ve Python'ı öne çıkar
src/02_HIL_System/STM32_Firmware/Core/** linguist-vendored=false
*.py linguist-detectable=true
*.m linguist-detectable=true
