# Kütüphane dosyalarını (Drivers/Middlewares) istatistiklerden hariç tut
src/02_HIL_System/STM32_Firmware/Drivers/** linguist-vendored
src/02_HIL_System/STM32_Firmware/Middlewares/** linguist-vendored

# Eğer MATLAB dosyalarını (Other) "MATLAB" olarak vurgulamak istersen
*.m linguist-detectable=true
